#bg{
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #00001e, #000737, #001f7f, #002daf);
}
#cbox{
    width: 80%;
    margin: 0 auto;
}
.flex_f{
    display: flex;
    justify-content: start;
    align-items: center;
}
.flex_fs{
    display: flex;
    justify-content: start;
    align-items: flex-start;
}
.flex_a{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex_b{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexrow {
	display: flex;
	flex-direction: row;
}

.flexcolumn {
	display: flex;
	flex-direction: column;
}

.flexac {
	align-items: center;
}

.flexjc {
	justify-content: center;
	justify-items: center;
}

.flexsb {
	justify-content: space-between;
}
.table_list{
    background-color: #fff!important;
    color: #666666;
}
.islist .ant-table-selection-column{
border-right: none!important;
}
/* .ant-table-thead > tr > th {
    white-space: nowrap !important;
    background: #1890FF !important;
    color: #fff!important;
    border-bottom: 1px solid #e8e8e8!important;
  } */
.btn_blue{
    width: 88px;
    height: 36px;
    background: #1890ff;
    border: 1px solid #1890ff;
    border-radius: 8px; 
    font-size: 12px;
    font-family: Microsoft YaHei, Microsoft YaHei-Regular;
    font-weight: 400;
    text-align: center;
    line-height: 36px;
    color:#fff;
    cursor: pointer;
}
.btn_gray{
    width: 88px;
    height: 36px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    font-size: 12px;
    font-family: Microsoft YaHei, Microsoft YaHei-Regular;
    font-weight: 400;
    text-align: center;
    color: #333333;
    line-height: 36px;
    cursor: pointer;
}
.col_blue{
    color:#1890FF;
}
.col_gray{
    color: #DCDCDC;
}
.col_red{
    color:#FF0033;
}