#bg {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #00001e, #000737, #001f7f, #002daf);
}

#cbox {
  width: 80%;
  margin: 0 auto;
}

.flex_f {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flex_fs {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.flex_a {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex_b {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcolumn {
  display: flex;
  flex-direction: column;
}

.ps_ab {
  z-index: 9;
  position: absolute;
  color: rgba(51, 51, 51, 1);
  font-family: Microsoft YaHei;
  font-weight: 400;
  line-height: 14px;
}

.ps_flex {
  width: 800px;
  position: fixed;
  left: 30%;
  padding: 40px;
  top: 20%;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 16px rgba(87, 174, 255, 1);
}

.ps_flex2 {
  position: relative;
  left: 50%;
  margin-top: 50px;
  padding: 0px;border-radius: 10px;width: auto;height: 600px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 16px rgba(87, 174, 255, 1);
}

.dialog_title {
  font-size: 24px;
  opacity: 1;
}

.edit_a_input {
  width: 667px !important;
}

.flexac {
  align-items: center;
}

.flexjc {
  justify-content: center;
  justify-items: center;
}

.flexsb {
  justify-content: space-between;
}

.table_list {
  background-color: #fff !important;
  color: #666666;
}

.islist .ant-table-selection-column {
  border-right: none !important;
}

/* .ant-table-thead > tr > th {
    white-space: nowrap !important;
    background: #1890FF !important;
    color: #fff!important;
    border-bottom: 1px solid #e8e8e8!important;
  } */


.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background: #1890ff !important;
  color: #fff !important;
  border: 1px solid #1890ff !important;
}

.btn_blue {
  width: 68px;
  height: 36px;
  background: #1890ff;
  border: 1px solid #1890ff;
  border-radius: 8px;
  font-size: 12px;
  font-family: Microsoft YaHei, Microsoft YaHei-Regular;
  font-weight: 400;
  text-align: center;
  line-height: 36px;
  color: #fff;
  cursor: pointer;
}

.btn_gray {
  width: 68px;
  height: 36px;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  font-size: 12px;
  font-family: Microsoft YaHei, Microsoft YaHei-Regular;
  font-weight: 400;
  text-align: center;
  color: #333333;
  line-height: 36px;
  cursor: pointer;
}

.tab_blue {
  width: 68px;
  height: 36px;
  background: #1890ff;
  border: 1px solid #1890ff;
  font-size: 12px;
  font-family: Microsoft YaHei, Microsoft YaHei-Regular;
  font-weight: 400;
  text-align: center;
  line-height: 36px;
  color: #fff;
  cursor: pointer;
}

.tab_gray {
  width: 88px;
  height: 36px;
  border: 1px solid #dcdcdc;
  font-size: 12px;
  font-family: Microsoft YaHei, Microsoft YaHei-Regular;
  font-weight: 400;
  text-align: center;
  color: #333333;
  line-height: 36px;
  cursor: pointer;
}

.col_blue {
  color: #1890FF;
}

.table-add-btn {
  width: 88px;
  height: 36px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.col_gray {
  color: #DCDCDC;
}

.col_red {
  color: #FF0033;
}

.ok_btn {
  width: 66px;
  height: 32px;
  background: #1890ff;
  border: 1px solid #1890ff;
  border-radius: 2px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 32px;
  margin-right: 60px;
  cursor: pointer;
}

.cancel_btn {
  width: 66px;
  height: 32px;
  font-size: 14px;
  color: #333;
  border: 1px solid #dcdcdc;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}

.cancel_btn:hover {
  border: 1px solid #1890ff;
  color: #1890ff;
}

.ispointer {
  cursor: pointer;
}

.text_s {
  text-align: start;
}

.content2 {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  justify-content: flex-start;
  margin: 20px;
}

.right .ant-select-selection {
  border-radius: 8px !important;
}

.right .ant-select-selection,
.right .ant-select-selection__rendered {
  height: 36px !important;
  line-height: 36px !important;
}

.ant-upload img {
  width: 128px !important;
  height: 72px !important;

}

.edit_a_input {
  width: 667px !important;
}

.isline {
  width: 100%;
  height: 1px;
  margin-top: 20px;
  background-color: rgb(204, 204, 204);
}



.templatetree {
  width: 667px;
  border: 1px solid #d9d9d9;
  max-height: 500px;
  overflow: scroll;
}

.templatetree::-webkit-scrollbar {
  display: none;
}

.templatetree_sel {
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.administrativedivision {
  height: 100%;
  width: 100%;
  position: relative;
}

.isleft {
  width: 280px;
  height: 100%;
  padding: 20px;
  background-color: #fff;
  overflow: scroll;
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.16);
}

.isleft::-webkit-scrollbar {
  display: none;
}

.ant-table-thead>tr>th {
  background-color: #F6FBFF !important;
}

.view-title-line {
  width: 100%;
  height: 0.5px;
  background: #DCDCDC;
  margin: 15px auto;
}

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td {
  padding: 10px 16px !important;
}

.remarknum {
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.right_box {
  width: 100%;
  height: 100%;
}

.right {
  width: 1372px;
  height: 909px;
  padding-left: 20px;
  padding-top: 20px;
}

.right2 {
  width: 1672px;
  padding-right: 20px;
}

.right4 {
  width: 100%;
  height: 909px;
  padding-right: 20px;
}
.custor_right{
  padding-top: 20px;
}
.r_t {
  color: #333;
}
.r_t_text {
  height: 16px;
  font-size: 12px;
  font-family: Microsoft YaHei, Microsoft YaHei-Regular;
  font-weight: 400;
  text-align: left;
  color: #333333;
  margin-right: 10px;
}
.table {
  width: 100%;
  height: 755px;
}

.item-line {
  height: 20px;
  width: 1px;
  background-color: #e5e5e5;
  margin-left: 10px;
  margin-right: 10px;
}

.ant-table-header::-webkit-scrollbar {
  display: none;
}

.ant-table-body::-webkit-scrollbar {
  display: none;
}

.ant-table-header {
  margin-bottom: 0 !important;
}
.ant-table-body{
  min-height: 420px!important;
}
